Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files with nixfmt
        entry: nixfmt
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ nixfmt ]
        pass_filenames: false
        args: [ . -c ]

      - id: deadnix
        name: Scan Nix files for dead code with deadnix
        entry: deadnix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ deadnix ]
        pass_filenames: false
        args: [ . -f ]

      - id: nix-flake-check
        name: Nix Flake check
        entry: nix flake check
        language: system
        types: [ nix ]
        files: flake.nix
        stages: [ pre-commit ]
        pass_filenames: false
        args: [ --all-systems --keep-going --impure ]

      - id: statix
        name: Antipattern linting for Nix code with statix
        entry: statix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ statix ]
        pass_filenames: false
        args: [ check . ]

feat(Parrot): eduvpn
  parrot/home/default.nix
Due: nixfmt, deadnix, statix

feat(Parrot): upgrade to 25.11
  parrot/configuration.nix
  parrot/home/default.nix
Due: nixfmt, deadnix, statix

feat: wip wireguard server
  beaver/networking.nix
  beaver/services/default.nix
  beaver/services/wireguard/README.md
  beaver/services/wireguard/default.nix
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(All): bemoji and screenshot
  shared/desktop/hyprland/hyprland.conf
Due: none

feat(Swordfish): deps
  swordfish/home/default.nix
Due: nixfmt, deadnix, statix

feat(Beaver): dawarich wip
  beaver/services/dawarich/default.nix
  beaver/services/dawarich/definition.nix
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(Parrot): finish upgrade to 25.11
  flake.lock
  parrot/configuration.nix
  parrot/hardware-configuration.nix
  parrot/home/default.nix
  shared/desktop/dev/default.nix
  shared/desktop/hyprland/hyprland.conf
Due: nixfmt, deadnix, statix

chores: bump update and cleanup
  README.md
  beaver/backup/backup.sh
  flake.lock
  swordfish/configuration.nix
Due: nixfmt, deadnix, statix

feat(Beaver): repair self hosted services
  beaver/services/dawarich/default.nix
  beaver/services/default.nix
  beaver/services/gh-explorer/default.nix
  beaver/services/mail/default.nix
  beaver/services/nginx/default.nix
  beaver/services/owncloud/default.nix
  beaver/services/owncloud/docker-compose.nix
  beaver/services/planka/default.nix
Due: nixfmt, deadnix, statix

feat(Beaver): migrate mail server
  beaver/services/mail/default.nix
Due: nixfmt, deadnix, statix

feat(All): utils
  parrot/home/default.nix
  shared/ssh.nix
  swordfish/home/default.nix
Due: nixfmt, deadnix, statix

feat(All): llm and sshpass
  parrot/home/default.nix
  shared/shell/aliases.json
  shared/shell/zsh.nix
  shared/ssh.nix
Due: nixfmt, deadnix, statix

feat(All): mistral-vibe and refacto cli
  beaver/home/default.nix
  flake.lock
  flake.nix
  owl/home/default.nix
  parrot/configuration.nix
  parrot/home/default.nix
  shared/desktop/default.nix
  shared/desktop/dev/default.nix
  shared/shell/default.nix
  shared/shell/zsh.nix
  swordfish/home/default.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(Beaver): change minecraft server to 18855 and add a prometheus exporter for it
  beaver/services/default.nix
  beaver/services/minecraft/default.nix
  beaver/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

chores: cleanup
  shared/shell/default.nix
Due: nixfmt, deadnix, statix

feat(Beaver): jupyter
  beaver/services/nginx/default.nix
Due: nixfmt, deadnix, statix

fix(Beaver): build
  beaver/home/default.nix
  beaver/services/monitoring/default.nix
  parrot/configuration.nix
  shared/shell/default.nix
  swordfish/home/default.nix
Due: nixfmt, deadnix, statix

feat(All): python libs
  shared/desktop/dev/python/default.nix
Due: nixfmt, deadnix, statix

fix(All): zsh missing plugins
  shared/shell/zsh.nix
Due: nixfmt, deadnix, statix

fix(All): building and config as code
  flake.lock
  flake.nix
  secrets/secrets.yaml
  shared/desktop/dev/python/default.nix
  shared/shell/default.nix
  shared/shell/vibe/config.toml
  shared/shell/vibe/instructions.md
  shared/shell/zsh.nix
  shared/sops.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(All): uniform hyprland
  parrot/configuration.nix
  shared/desktop/hyprland/default.nix
  swordfish/configuration.nix
Due: nixfmt, deadnix, statix
