Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files with nixfmt
        entry: nixfmt
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ nixfmt ]
        pass_filenames: false
        args: [ . -c ]

      - id: deadnix
        name: Scan Nix files for dead code with deadnix
        entry: deadnix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ deadnix ]
        pass_filenames: false
        args: [ . -f ]

      - id: nix-flake-check
        name: Nix Flake check
        entry: nix flake check
        language: system
        types: [ nix ]
        files: flake.nix
        stages: [ pre-commit ]
        pass_filenames: false
        args: [ --all-systems --keep-going --impure ]

      - id: statix
        name: Antipattern linting for Nix code with statix
        entry: statix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ statix ]
        pass_filenames: false
        args: [ check . ]

chores(docs): schema
  README.md
Due: none

chores(docs): add blackbox screenshot
  README.md
Due: none

feat(owl): add git and ssh work profile
  hosts/owl/home/default.nix
Due: nixfmt, deadnix, statix

feat(beaver): working alerts in grafana
  flake.lock
  hosts/beaver/system/services/monitoring/alerts.nix
  hosts/beaver/system/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

chores: security section and polished readme
  README.md
Due: none

chores: security section and polished readme
  README.md
  assets/alerts.png
Due: none

fix: CI
  hosts/beaver/system/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

fix(beaver): all alerts
  assets/20250508-11:52:59.png
  assets/alerts.png
  hosts/beaver/system/services/monitoring/alerts.nix
Due: nixfmt, deadnix, statix

bump: flake nixpkgs
  flake.lock
Due: none

fix(beaver): ci /tmp
  .github/workflows/main.yml
Due: none

chores: bump master nixpkgs
  flake.lock
Due: none

wip gecko
  assets/selfhost_at_home.png
  hosts/gecko/default.nix
  hosts/gecko/services/default.nix
Due: nixfmt, deadnix, statix

fix(beaver): ci
  .github/workflows/main.yml
  hosts/beaver/system/default.nix
  hosts/beaver/system/services/runner/default.nix
Due: nixfmt, deadnix, statix

chores:(all): readme update
  README.md
  assets/desktop.png
Due: none

feat(beaver): add mail-monitor end-to-end probe service
  hosts/beaver/system/services/default.nix
  hosts/beaver/system/services/mail-monitor/.gitignore
  hosts/beaver/system/services/mail-monitor/default.nix
  hosts/beaver/system/services/mail-monitor/go.mod
  hosts/beaver/system/services/mail-monitor/go.sum
  hosts/beaver/system/services/mail-monitor/main.go
  hosts/beaver/system/services/mail/default.nix
  hosts/beaver/system/services/monitoring/alerts.nix
  hosts/beaver/system/services/monitoring/default.nix
  modules/sops.nix
  secrets/secrets.yaml
Due: nixfmt, deadnix, statix

feat(desktop): update hyprland
  flake.lock
  flake.nix
  nixos/desktop/hyprland.conf
Due: nixfmt, deadnix, nix-flake-check, statix

chores(beaver): bump unstable-nixpkgs
  flake.lock
  hosts/beaver/system/services/default.nix
  hosts/beaver/system/services/goatcounter/default.nix
Due: nixfmt, deadnix, statix

feat(shell): add gh-dahs
  home/shell/default.nix
Due: nixfmt, deadnix, statix

fix(desktop): hyprland use unstable now
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(desktop): activity watch
  home/desktop/activitywatch/default.nix
  home/desktop/default.nix
Due: nixfmt, deadnix, statix

feat(gecko): working rpi3 image making
  flake.nix
  hosts/gecko/README.md
  hosts/gecko/default.nix
  hosts/gecko/geckoNixos1.nix
  hosts/gecko/geckoNixos2.nix
  hosts/gecko/geckoNixos3.nix
  hosts/gecko/geckoNixos4.nix
  hosts/gecko/geckoNixosRPI3-sd-image.nix
  hosts/gecko/hardware-pi3b+.nix
  hosts/gecko/hardware-pi4.nix
  result
Due: nixfmt, deadnix, nix-flake-check, statix

feat(beaver): goatcounter and fixes
  flake.lock
  hosts/beaver/system/services/goatcounter/default.nix
  hosts/beaver/system/services/monitoring/default.nix
  hosts/beaver/system/services/openwebui/default.nix
Due: nixfmt, deadnix, statix

feat(gecko): big wip
  hosts/gecko/geckoNixos1.nix
  hosts/gecko/geckoNixos2.nix
  hosts/gecko/geckoNixos3.nix
  hosts/gecko/geckoNixos4.nix
  modules/ssh.nix
Due: nixfmt, deadnix, statix

fix(beaver): vaultwarden sso login
  hosts/beaver/system/services/vaultwarden/default.nix
  modules/sops.nix
  secrets/secrets.yaml
Due: nixfmt, deadnix, statix

fix(desktop): audio sink switch
  shared/desktop/bin/switch_audio_output.sh
Due: none

fix(beaver): auto provision dashboard for grafana
  hosts/beaver/system/services/monitoring/dashboard/blackbox.json
  hosts/beaver/system/services/monitoring/dashboard/logs.json
  hosts/beaver/system/services/monitoring/dashboard/node.json
  hosts/beaver/system/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

feat(gecko): working 4 pi's
  flake.nix
  hosts/gecko/default.nix
  hosts/gecko/geckoNixos1.nix
  hosts/gecko/geckoNixos2.nix
  hosts/gecko/geckoNixos3.nix
  hosts/gecko/geckoNixos4.nix
  hosts/gecko/geckoNixosRPI-sd-image.nix
  hosts/gecko/geckoNixosRPI3-sd-image.nix
  hosts/gecko/hardware-pi4.nix
  result
Due: nixfmt, deadnix, nix-flake-check, statix

chores: update readme about raspberry pi cluster
  README.md
  hosts/beaver/system/services/openwebui/default.nix
  hosts/gecko/default.nix
  result
Due: nixfmt, deadnix, statix

feat(shell): add tree and golangci-lint
  home/shell/default.nix
Due: nixfmt, deadnix, statix

feat(desktop): ghostty keybind to increase and decrease font_size
  home/desktop/ghostty.nix
Due: nixfmt, deadnix, statix
