Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

nixfmt:
  name: Format Nix files with nixfmt
  entry: nixfmt
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - nixfmt
  pass_filenames: false
  args:
  - . -c

deadnix:
  name: Scan Nix files for dead code with deadnix
  entry: deadnix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - deadnix
  pass_filenames: false
  args:
  - . -f

nix-flake-check:
  name: Nix Flake check
  entry: nix flake check
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  args:
  - --all-systems --keep-going --impure

statix:
  name: Antipattern linting for Nix code with statix
  entry: statix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - statix
  pass_filenames: false
  args:
  - check .

feat(Swordfish): vscode-fhs
  Swordfish/home/default.nix
  flake.lock
  shared/sops.nix
Due: nixfmt, deadnix, statix

feat(Desktop): remove hyprcursor
  shared/desktop/hyprland/default.nix
Due: nixfmt, deadnix, statix

chores(Beaver): bump open-webui
  Beaver/services/openwebui/docker-compose.nix
Due: nixfmt, deadnix, statix

feat(Parrot): vibe coding editors and emulate aarch64
  Parrot/configuration.nix
  Parrot/home/default.nix
  shared/ssh.nix
Due: nixfmt, deadnix, statix

feat(Beaver): read prometheus from gh-explorer
  Beaver/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

feat(Beaver): working gh-explorer job name for prometheus
  Beaver/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

feat(Swordfish): minecraft
  Swordfish/home/default.nix
Due: nixfmt, deadnix, statix

chores(Parrot): disable ollama and nvidia
  Parrot/configuration.nix
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(All): gitignore terraform secrets and binaries
  .gitignore
Due: none

feat(iac): init
  .gitignore
  iac/infra/NixOS-install/main.tf
  iac/infra/NixOS-install/variables.tf
  iac/infra/main.tf
  iac/infra/variables.tf
  iac/nameserver/main.tf
Due: none

feat(Beaver): start migration to justalternate.com
  Beaver/services/nginx/default.nix
  Beaver/services/planka/default.nix
  iac/nameserver/main.tf
Due: nixfmt, deadnix, statix

chores(Beaver): minecraft new server
  Beaver/services/default.nix
  Beaver/services/minecraft/default.nix
Due: nixfmt, deadnix, statix

feat(Beaver): add gh-explorer backend metrics to beaver grafana
  Beaver/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

fix(Beaver): rollback to 24.11 repair mail
  Beaver/services/mail/default.nix
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(Beaver): migration to justalternate.com planka
  iac/nameserver/main.tf
Due: none

feat(Beaver): migrate all services except nixos mail server to use justalternate.com
  Beaver/backup/backup.sh
  Beaver/services/JustVPN/default.nix
  Beaver/services/JustVPN/docker-compose.nix
  Beaver/services/monitoring/default.nix
  Beaver/services/nginx/default.nix
  Beaver/services/openwebui/default.nix
  Beaver/services/owncloud/default.nix
  Beaver/services/owncloud/docker-compose.nix
  Beaver/services/planka/default.nix
  Beaver/services/planka/docker-compose.nix
  Beaver/services/vaultwarden/default.nix
Due: nixfmt, deadnix, statix

chore(Swordfish): disable open web ui
  Swordfish/configuration.nix
  flake.lock
Due: nixfmt, deadnix, statix

feat(Beaver): nameserver
  iac/nameserver/main.tf
Due: none

feat(Parrot): bitwarden
  Parrot/home/default.nix
Due: nixfmt, deadnix, statix

feat(Parrot): wireguard
  Parrot/home/default.nix
Due: nixfmt, deadnix, statix

Path conditions:
  nixfmt: any of: \.nix$ and \.nix$
  deadnix: any of: \.nix$ and \.nix$
  nix-flake-check: any of: flake.nix and \.nix$
  statix: any of: \.nix$ and \.nix$
