Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files with nixfmt
        entry: nixfmt
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ nixfmt ]
        pass_filenames: false
        args: [ . -c ]

      - id: deadnix
        name: Scan Nix files for dead code with deadnix
        entry: deadnix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ deadnix ]
        pass_filenames: false
        args: [ . -f ]

      - id: nix-flake-check
        name: Nix Flake check
        entry: nix flake check
        language: system
        types: [ nix ]
        files: flake.nix
        stages: [ pre-commit ]
        pass_filenames: false
        args: [ --all-systems --keep-going --impure ]

      - id: statix
        name: Antipattern linting for Nix code with statix
        entry: statix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ statix ]
        pass_filenames: false
        args: [ check . ]

fix(Beaver): backup
  Beaver/backup/backup.sh
Due: none

fix(Gecko): unused nginx
  Gecko/hardware-configuration-pi3b+.nix
Due: nixfmt, deadnix, statix

fix(All): GROQ api key
  flake.lock
  secrets/secrets.yaml
  shared/sops.nix
  shared/zsh.nix
Due: nixfmt, deadnix, statix

feat(Beaver): dns record for pareto curve
  iac/nameserver/main.tf
Due: none

feat(Parrot): .env and nvidia for ML training
  Parrot/configuration.nix
  shared/zsh.nix
Due: nixfmt, deadnix, statix

feat(Beaver): add pareto curve in nginx
  Beaver/services/default.nix
Due: nixfmt, deadnix, statix

feat(Swordfish): amdgpu driver and gtk for fractale
  Swordfish/configuration.nix
Due: nixfmt, deadnix, statix

chores: bump openweb-ui to 0.6.0
  Beaver/services/openwebui/docker-compose.nix
Due: nixfmt, deadnix, statix

feat(Dev): typst
  shared/desktop/dev/default.nix
Due: nixfmt, deadnix, statix

WIP: fixing hyprland
  Parrot/configuration.nix
  Swordfish/configuration.nix
  Swordfish/home/default.nix
  flake.lock
  shared/desktop/hyprland/default.nix
  shared/desktop/rice.nix
Due: nixfmt, deadnix, statix

feat: remove ML machine
  iac/infra/main.tf
Due: none

chores(Beaver): bump open-webui
  Beaver/services/openwebui/docker-compose.nix
Due: nixfmt, deadnix, statix

chores: update flakes
  flake.lock
Due: none

chores: cleanup flake
  Parrot/home/default.nix
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

chores: remove old wallpaper
  shared/desktop/wallpaper/1133722.png
  shared/desktop/wallpaper/860639.jpg
  shared/desktop/wallpaper/nixos_anime.png
  shared/desktop/wallpaper/nixos_wallpaper.png
Due: none

feat(Parrot): mgba
  Parrot/home/default.nix
Due: nixfmt, deadnix, statix

fix(Desktop): repaire initExtra export
  flake.lock
  shared/zsh.nix
Due: nixfmt, deadnix, statix

feat(Owl): workign
  Owl/configuration.nix
  Owl/home/default.nix
  flake.lock
  flake.nix
  shared/git.nix
  shared/zsh.nix
Due: nixfmt, deadnix, nix-flake-check, statix

bump: justnixvim
  flake.lock
Due: none

feat(Owl): aerospace workspace reconfig and zsh update
  Owl/window-manager.nix
  shared/zsh.nix
Due: nixfmt, deadnix, statix
