Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

nixfmt:
  name: Format Nix files with nixfmt
  entry: nixfmt
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - nixfmt
  pass_filenames: false
  args:
  - . -c

deadnix:
  name: Scan Nix files for dead code with deadnix
  entry: deadnix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - deadnix
  pass_filenames: false
  args:
  - . -f

nix-flake-check:
  name: Nix Flake check
  entry: nix flake check
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  args:
  - --all-systems --keep-going --impure

statix:
  name: Antipattern linting for Nix code with statix
  entry: statix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - statix
  pass_filenames: false
  args:
  - check .

fix(beaver): alloy
  hosts/beaver/system/services/monitoring/alloy.river
Due: none

feat(beaver): systemd units dashboard and alerts
  hosts/beaver/system/services/monitoring/alerts.nix
  hosts/beaver/system/services/monitoring/dashboard/systemd.json
  hosts/beaver/system/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

feat(owl): no more cat = bat
  hosts/owl/home/default.nix
Due: nixfmt, deadnix, statix

bump: all flakes
  flake.lock
Due: none

bump(beaver): open-webui
  hosts/beaver/system/services/openwebui/default.nix
Due: nixfmt, deadnix, statix

style: format opencode service with nixfmt
  hosts/beaver/system/services/opencode/default.nix
Due: nixfmt, deadnix, statix

fix: remove unused variables (deadnix)\n\n- Remove unused fetchFromGitHub from mcp-opencode-bridge package\n- Remove unused lib from opencode service module
  hosts/beaver/system/services/opencode/default.nix
  packages/mcp-opencode-bridge/default.nix
Due: nixfmt, deadnix, statix

fix(owl): owl build and warning during rebuild switch
  flake.lock
  flake.nix
  home/shell/default.nix
  home/shell/zsh.nix
  hosts/owl/home/default.nix
  hosts/owl/system/default.nix
  modules/home/ssh.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(desktop): per-host hostnames, fix swordfish monitor overlap
  hosts/parrot/system/default.nix
  hosts/swordfish/system/default.nix
  profiles/nixos/desktop/default.nix
Due: nixfmt, deadnix, statix

feat(home): shared zsh module with work/desktop profiles
  home/cli/default.nix
  home/shell/default.nix
  home/shell/zsh.nix
  hosts/owl/home/default.nix
  hosts/parrot/home/default.nix
  hosts/swordfish/home/default.nix
  modules/home/edvardm-custom.zsh-theme
  modules/home/zsh.nix
Due: nixfmt, deadnix, statix

security: split sops secrets per host, harden gecko ssh
  AGENTS.md
  hosts/beaver/system/default.nix
  hosts/beaver/system/secrets.nix
  hosts/gecko/default.nix
  modules/nixos/sops.nix
Due: nixfmt, deadnix, statix

chore(beaver): archive defunct minecraft prometheus scrape job
  hosts/beaver/system/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

refactor(flake): mkHost/mkGecko helpers, unpin hyprland
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

chore: drop old theme path (moved to modules/home/)
  home/shell/edvardm-custom.zsh-theme
Due: none

bump: justnixvim
  flake.lock
Due: none

feat(all): k9s slick
  home/shell/default.nix
  home/shell/k9s.nix
  hosts/owl/home/default.nix
Due: nixfmt, deadnix, statix

feat(owl): tmux trial
  home/desktop/ghostty.nix
  home/shell/default.nix
  modules/home/tmux.nix
  modules/home/zsh.nix
Due: nixfmt, deadnix, statix

feat(beaver): dartsl ol
  hosts/beaver/system/services/anubis/default.nix
Due: nixfmt, deadnix, statix

chores: large refactoring
  AGENTS.md
  IMPROVEMENTS.md
  flake.lock
  flake.nix
  home/shell/llm.nix
  hosts/beaver/system/services/dawarich/default.nix
  hosts/beaver/system/services/monitoring/default.nix
  hosts/beaver/system/services/opencode/default.nix
  hosts/beaver/system/services/openwebui/default.nix
  hosts/beaver/system/services/vaultwarden/default.nix
  hosts/owl/home/default.nix
  packages/mcp-opencode-bridge/main.go
  packages/mcp-opencode-bridge/mcp.go
  profiles/nixos/core/identity.nix
  profiles/nixos/desktop/default.nix
  result
Due: nixfmt, deadnix, nix-flake-check, statix

wip ghostty
  home/desktop/ghostty.nix
  home/packages/gaming.nix
  hosts/beaver/system/services/anubis/default.nix
  profiles/nixos/core/nix.nix
Due: nixfmt, deadnix, statix

fix(desktop): fix yubikey login
  hosts/swordfish/system/default.nix
  profiles/nixos/desktop/yubikey.nix
Due: nixfmt, deadnix, statix

fix(AGENTS.md) machine identity instruction
  home/shell/AGENTS.md
Due: none

fix(desktop) tmux window with ctrl+1
  home/desktop/ghostty.nix
  modules/home/tmux.nix
Due: nixfmt, deadnix, statix

Path conditions:
  nixfmt: any of: \.nix$ and \.nix$
  deadnix: any of: \.nix$ and \.nix$
  nix-flake-check: any of: flake.nix and \.nix$
  statix: any of: \.nix$ and \.nix$
