Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files with nixfmt
        entry: nixfmt
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ nixfmt ]
        pass_filenames: false
        args: [ . -c ]

      - id: deadnix
        name: Scan Nix files for dead code with deadnix
        entry: deadnix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ deadnix ]
        pass_filenames: false
        args: [ . -f ]

      - id: nix-flake-check
        name: Nix Flake check
        entry: nix flake check
        language: system
        types: [ nix ]
        files: flake.nix
        stages: [ pre-commit ]
        pass_filenames: false
        args: [ --all-systems --keep-going --impure ]

      - id: statix
        name: Antipattern linting for Nix code with statix
        entry: statix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ statix ]
        pass_filenames: false
        args: [ check . ]

feat(All): uniform hyprland
  parrot/configuration.nix
  shared/desktop/hyprland/default.nix
  swordfish/configuration.nix
Due: nixfmt, deadnix, statix

fix(All): vibe config
  shared/shell/default.nix
  shared/shell/vibe/config.toml
  shared/shell/vibe/instructions.md
Due: nixfmt, deadnix, statix

feat(All): working hyprland module
  parrot/configuration.nix
  shared/desktop/hyprland/default.nix
  shared/shell/zsh.nix
  swordfish/configuration.nix
Due: nixfmt, deadnix, statix

chores(Beaver): cloud vhosts
  beaver/services/nginx/default.nix
Due: nixfmt, deadnix, statix

feat(Beaver): grafana dashboard json V1
  beaver/services/monitoring/logs.json
  beaver/services/monitoring/minecraft.json
  beaver/services/monitoring/node.json
Due: none

feat(Beaver): add keycloak
  beaver/services/keycloak/default.nix
  beaver/services/openwebui/.env
Due: nixfmt, deadnix, statix

feat(Beaver): grafana accessible only using keycloak
  beaver/services/monitoring/default.nix
  secrets/secrets.yaml
  shared/sops.nix
Due: nixfmt, deadnix, statix

fix(Parrot): build
  parrot/configuration.nix
  shared/desktop/hyprland/default.nix
Due: nixfmt, deadnix, statix

chores: readme update
  README.md
Due: none

feat(Beaver): ssh using port 8443 to bypass school wifi block
  beaver/configuration.nix
Due: nixfmt, deadnix, statix

fix: gitignore for .env
  .gitignore
  beaver/services/openwebui/.env
Due: none

feat: working openwebui
  beaver/networking.nix
  beaver/services/nginx/default.nix
  beaver/services/openwebui/default.nix
  beaver/services/openwebui/docker-compose.yml
Due: nixfmt, deadnix, statix

feat(Parrot): basic watcher
  parrot/home/default.nix
Due: nixfmt, deadnix, statix

fix(All): mistral-vibe
  flake.lock
  flake.nix
  shared/shell/default.nix
  shared/shell/zsh.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(All): desktop osu windowrule
  shared/desktop/hyprland/hyprland.conf
Due: none

feat(Beaver): keycloak iac
  .gitignore
  beaver/backup/main.tf
  beaver/services/keycloak/default.nix
  beaver/services/keycloak/main.tf
Due: nixfmt, deadnix, statix

feat(Beaver): wip opencloud
  beaver/services/keycloak/main.tf
  beaver/services/nginx/default.nix
  beaver/services/opencloud/default.nix
  secrets/secrets.yaml
  shared/sops.nix
Due: nixfmt, deadnix, statix

chores: migrate firefox to librewolf
  parrot/home/default.nix
  swordfish/home/default.nix
Due: nixfmt, deadnix, statix

feat(Desktop): shared activitywatch
  parrot/home/default.nix
  shared/desktop/activitywatch.nix
  shared/desktop/default.nix
Due: nixfmt, deadnix, statix

chores(Desktop): update keybind for librewolf
  shared/desktop/hyprland/hyprland.conf
Due: none
