Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

nixfmt:
  name: Format Nix files with nixfmt
  entry: nixfmt
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - nixfmt
  pass_filenames: false
  args:
  - . -c

deadnix:
  name: Scan Nix files for dead code with deadnix
  entry: deadnix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - deadnix
  pass_filenames: false
  args:
  - . -f

nix-flake-check:
  name: Nix Flake check
  entry: nix flake check
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  args:
  - --all-systems --keep-going --impure

statix:
  name: Antipattern linting for Nix code with statix
  entry: statix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - statix
  pass_filenames: false
  args:
  - check .

style: fix statix warnings - consolidate repeated attribute keys
  owl/configuration.nix
  parrot/hardware-configuration.nix
  shared/security.nix
  statix.toml
Due: nixfmt, deadnix, statix

chore: remove statix.toml - issues fixed instead of ignored
  statix.toml
Due: none

chores: cleanup
  .opencode/plans/var-migration-plan.md
  CI_IMPLEMENTATION_PLAN.md
  beaver/configuration.nix
  secrets/secrets.yaml
Due: nixfmt, deadnix, statix

fix(beaver): mail use dkim with 2048
  beaver/services/mail/default.nix
Due: nixfmt, deadnix, statix

chores: docs and images :)
  README.md
  assets/logs.png
  assets/node-exporter.png
  beaver/configuration.nix.pre-migration-backup
Due: none

fix(owl): performance and deps
  flake.lock
  owl/configuration.nix
  owl/home/default.nix
Due: nixfmt, deadnix, statix

feat(owl): nomad
  owl/home/default.nix
Due: nixfmt, deadnix, statix

fix: remove autologin
  flake.lock
  flake.nix
  parrot/configuration.nix
  swordfish/configuration.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(owl): session variable
  owl/home/default.nix
Due: nixfmt, deadnix, statix

fix(owl) homebrew priority over other path
  owl/home/default.nix
Due: nixfmt, deadnix, statix

chores(flake): update master-nixpkgs
  flake.lock
Due: none

chores(all): refactor shared/shell f older
  beaver/home/default.nix
  owl/home/default.nix
  shared/desktop/default.nix
  shared/shell/LLM/AGENTS.md
  shared/shell/LLM/aliases.json
  shared/shell/LLM/default.nix
  shared/shell/default.nix
  shared/shell/fastfetch.nix
  shared/shell/vibe/instructions.md
Due: nixfmt, deadnix, statix

chores(all): refactor shared/shell f older
  beaver/home/default.nix
  owl/home/default.nix
  secrets/secrets.yaml
  shared/desktop/default.nix
  shared/shell/LLM/AGENTS.md
  shared/shell/LLM/aliases.json
  shared/shell/LLM/default.nix
  shared/shell/default.nix
  shared/shell/fastfetch.nix
  shared/shell/vibe/instructions.md
Due: nixfmt, deadnix, statix

chores(assets): add blackbox.png
  assets/blackbox.png
Due: none

chores(beaver): cleanup keycloak tf files
  hosts/beaver/system/services/keycloak/main.tf
Due: none

feat(beaver): add gotify
  hosts/beaver/system/services/default.nix
  hosts/beaver/system/services/gotify/default.nix
  modules/sops.nix
  secrets/secrets.yaml
Due: nixfmt, deadnix, statix

chores(agents.md): update nixcfg specs for agents
  home/shell/AGENTS.md
Due: none

feat(beaver): add blackbox and configure it and configure gotify for grafana
  hosts/beaver/system/services/monitoring/dashboard/blackbox.json
  hosts/beaver/system/services/monitoring/dashboard/logs.json
  hosts/beaver/system/services/monitoring/dashboard/minecraft.json
  hosts/beaver/system/services/monitoring/dashboard/node.json
  hosts/beaver/system/services/monitoring/default.nix
  hosts/beaver/system/services/monitoring/prometheus/blackbox.yml
Due: nixfmt, deadnix, statix

feat(all): agents.md rules about git
  home/shell/AGENTS.md
Due: none

chores(docs): add blackbox screenshot
  README.md
Due: none

Path conditions:
  nixfmt: any of: \.nix$ and \.nix$
  deadnix: any of: \.nix$ and \.nix$
  nix-flake-check: any of: flake.nix and \.nix$
  statix: any of: \.nix$ and \.nix$
