Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

nixfmt:
  name: Format Nix files with nixfmt
  entry: nixfmt
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - nixfmt
  pass_filenames: false
  args:
  - . -c

deadnix:
  name: Scan Nix files for dead code with deadnix
  entry: deadnix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - deadnix
  pass_filenames: false
  args:
  - . -f

nix-flake-check:
  name: Nix Flake check
  entry: nix flake check
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  args:
  - --all-systems --keep-going --impure

statix:
  name: Antipattern linting for Nix code with statix
  entry: statix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - statix
  pass_filenames: false
  args:
  - check .

chores: readme
  README.md
Due: none

chores: update readme
  README.md
Due: none

fix(desktop): small fixes
  shared/desktop/dev/python/default.nix
  shared/desktop/ghostty.nix
Due: nixfmt, deadnix, statix

chores: reamde fix
  README.md
Due: none

fix(owl): zsh and ghostty
  flake.lock
  flake.nix
  owl/configuration.nix
  owl/home/default.nix
  shared/desktop/ghostty.nix
  shared/shell/default.nix
  shared/shell/zsh.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(Shell): some optimization and autocomplete of kubectl
  owl/home/default.nix
  shared/shell/zsh.nix
Due: nixfmt, deadnix, statix

fix: select_wallpaper
  shared/desktop/bin/select_wallpaper.nix
Due: nixfmt, deadnix, statix

fix(Beaver): security vulnerabilities
  beaver/backup/backup.sh
  beaver/configuration.nix
  beaver/networking.nix
  beaver/services/default.nix
  beaver/services/headscale/default.nix
  beaver/services/keycloak/default.nix
  beaver/services/monitoring/default.nix
  beaver/services/openwebui/docker-compose.yml
  flake.nix
  secrets/secrets.yaml
  shared/desktop/ghostty.nix
  shared/desktop/hyprland/hyprland.conf
  shared/home/desktop.nix
  shared/sops.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(Beaver): migrate open-webui to nix
  beaver/configuration.nix
  beaver/services/openwebui/default.nix
  secrets/secrets.yaml
  shared/sops.nix
Due: nixfmt, deadnix, statix

feat(beaver): hid pub key
  beaver/configuration.nix
Due: nixfmt, deadnix, statix

feat(beaver): openweb-ui env var in sops
  secrets/secrets.yaml
Due: none

feat(all): ghostty and machine name in zsh prompt
  beaver/configuration.nix
  flake.nix
  owl/configuration.nix
  owl/home/default.nix
  parrot/configuration.nix
  shared/desktop/ghostty.nix
  shared/machine-name.nix
  shared/shell/zsh.nix
  swordfish/configuration.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(all) hostname in prompt
  owl/home/default.nix
  shared/shell/edvardm-custom.zsh-theme
  shared/shell/zsh.nix
Due: nixfmt, deadnix, statix

wip: openwebui
  beaver/configuration.nix
  beaver/services/monitoring/default.nix
  beaver/services/openwebui/default.nix
Due: nixfmt, deadnix, statix

fix(desktop): ghostty
  shared/desktop/ghostty.nix
  shared/desktop/hyprland/hyprland.conf
Due: nixfmt, deadnix, statix

fix: openweb-ui nixified
  beaver/configuration.nix
  beaver/services/openwebui/default.nix
  secrets/secrets.yaml
  shared/shell/default.nix
Due: nixfmt, deadnix, statix

fix(beaver): loki
  beaver/services/monitoring/default.nix
Due: nixfmt, deadnix, statix

feat(all): opencode global context
  shared/AGENTS.md
  shared/shell/default.nix
Due: nixfmt, deadnix, statix

Path conditions:
  nixfmt: any of: \.nix$ and \.nix$
  deadnix: any of: \.nix$ and \.nix$
  nix-flake-check: any of: flake.nix and \.nix$
  statix: any of: \.nix$ and \.nix$
