Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

nixfmt:
  name: Format Nix files with nixfmt
  entry: nixfmt
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - nixfmt
  pass_filenames: false
  args:
  - . -c

deadnix:
  name: Scan Nix files for dead code with deadnix
  entry: deadnix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - deadnix
  pass_filenames: false
  args:
  - . -f

nix-flake-check:
  name: Nix Flake check
  entry: nix flake check
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  args:
  - --all-systems --keep-going --impure

statix:
  name: Antipattern linting for Nix code with statix
  entry: statix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - statix
  pass_filenames: false
  args:
  - check .

feat(shell): asciinema for rec
  home/shell/default.nix
Due: nixfmt, deadnix, statix

fix(owl) remove borken opencode and add some missing packages
  flake.lock
  hosts/owl/home/default.nix
Due: nixfmt, deadnix, statix

feat(owl): aersopace missing configs
  hosts/owl/system/window-manager.nix
Due: nixfmt, deadnix, statix

fix(owl): colima use unstable
  hosts/owl/system/default.nix
Due: nixfmt, deadnix, statix

chore: bump justnixvim ver
  flake.lock
Due: none

chores: readme
  .github/workflows/main.yml
  README.md
  assets/cluster.jpg
  assets/cluster2.jpg
Due: none

feat(shell): llm configs
  flake.lock
  home/shell/AGENTS.md
  home/shell/llm.nix
  home/shell/rtk.ts
Due: nixfmt, deadnix, statix

chores(beaver): dawarich new feature
  flake.lock
  hosts/beaver/system/services/dawarich/default.nix
Due: nixfmt, deadnix, statix

feat(desktop): add go/bin in sessionPath
  hosts/parrot/home/default.nix
  hosts/swordfish/home/default.nix
Due: nixfmt, deadnix, statix

feat(all): fleettui
  flake.lock
  flake.nix
  home/shell/default.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(owl): rtk, k9s alias and docker update
  flake.lock
  hosts/owl/home/default.nix
Due: nixfmt, deadnix, statix

feat(owl): add k8s context in rps1 prompt
  hosts/owl/home/default.nix
Due: nixfmt, deadnix, statix

feat(owl): remove scala and java stuff
  hosts/owl/home/default.nix
Due: nixfmt, deadnix, statix

feat(all): agents.md
  AGENTS.md
  home/shell/AGENTS.md
Due: none

feat(owl): update
  home/desktop/ghostty.nix
  hosts/owl/home/default.nix
  modules/tmux.nix
Due: nixfmt, deadnix, statix

feat: headscale proxy for gecko pi cluster
  hosts/beaver/system/default.nix
  hosts/gecko/geckoNixos1.nix
  modules/sops.nix
  modules/ssh.nix
Due: nixfmt, deadnix, statix

wip headscale
  hosts/beaver/system/services/headscale/default.nix
Due: nixfmt, deadnix, statix

added preauth key in sops
  modules/sops.nix
  secrets/secrets.yaml
Due: nixfmt, deadnix, statix

wip headscale
  flake.nix
  hosts/beaver/system/services/nginx/default.nix
  hosts/gecko/geckoNixos1.nix
Due: nixfmt, deadnix, nix-flake-check, statix

wip headscale
  hosts/beaver/system/services/headscale/default.nix
  hosts/beaver/system/services/nginx/default.nix
  hosts/gecko/geckoNixos1.nix
Due: nixfmt, deadnix, statix

wip headscale
  hosts/gecko/default.nix
  hosts/gecko/geckoNixos1.nix
  hosts/owl/system/default.nix
  hosts/parrot/system/default.nix
  hosts/swordfish/system/default.nix
  modules/ssh.nix
  modules/tailscale.nix
Due: nixfmt, deadnix, statix

chores: move audio script
  home/desktop/bin-switch_audio_output.nix
  home/desktop/bin.nix
  shared/desktop/bin/switch_audio_output.sh
Due: nixfmt, deadnix, statix

wip headscale
  modules/tailscale.nix
Due: nixfmt, deadnix, statix

audio fix
  home/desktop/bin-switch_audio_output.nix
  nixos/desktop/hyprland.conf
Due: nixfmt, deadnix, statix

headsclae
  flake.nix
  hosts/gecko/default.nix
  hosts/gecko/geckoNixos1.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(owl): building
  hosts/owl/home/default.nix
  hosts/owl/system/default.nix
Due: nixfmt, deadnix, statix

fix(headscale): working tailnet network with configured host and exit nodes
  hosts/beaver/system/default.nix
  hosts/beaver/system/services/headscale/RUNBOOK.md
  hosts/gecko/default.nix
  modules/tailscale.nix
Due: nixfmt, deadnix, statix

fix(beaver): add in tailscale network
  hosts/beaver/system/default.nix
Due: nixfmt, deadnix, statix

fix(tailscale): duplicate
  hosts/beaver/system/default.nix
  modules/tailscale.nix
Due: nixfmt, deadnix, statix

fix(ci): build
  hosts/beaver/system/services/headscale/RUNBOOK.md
  hosts/beaver/system/services/headscale/default.nix
  hosts/gecko/geckoNixos1.nix
Due: nixfmt, deadnix, statix

fix(headscale): working tailnet network with configured host and exit nodes
  README.md
  hosts/beaver/system/default.nix
  hosts/beaver/system/services/headscale/RUNBOOK.md
  hosts/gecko/default.nix
  modules/tailscale.nix
Due: nixfmt, deadnix, statix

feat: bump justnixvim
  flake.lock
Due: none

fix: ssh config for nixos cluster
  flake.nix
  hosts/beaver/home/default.nix
  modules/ssh.nix
Due: nixfmt, deadnix, nix-flake-check, statix

chores: bump fleettui
  flake.lock
Due: none

fix(beaver): ssh hardening
  hosts/beaver/system/default.nix
  hosts/beaver/system/networking.nix
Due: nixfmt, deadnix, statix

feat: vllm for desktop
  nixos/desktop/default.nix
Due: nixfmt, deadnix, statix

Path conditions:
  nixfmt: any of: \.nix$ and \.nix$
  deadnix: any of: \.nix$ and \.nix$
  nix-flake-check: any of: flake.nix and \.nix$
  statix: any of: \.nix$ and \.nix$
