Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

nixfmt:
  name: Format Nix files with nixfmt
  entry: nixfmt
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - nixfmt
  pass_filenames: false
  args:
  - . -c

deadnix:
  name: Scan Nix files for dead code with deadnix
  entry: deadnix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - deadnix
  pass_filenames: false
  args:
  - . -f

nix-flake-check:
  name: Nix Flake check
  entry: nix flake check
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  args:
  - --all-systems --keep-going --impure

statix:
  name: Antipattern linting for Nix code with statix
  entry: statix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - statix
  pass_filenames: false
  args:
  - check .

feat(All): remove ssh alias to use kitten
  shared/shell/zsh.nix
Due: nixfmt, deadnix, statix

feat(Owl): use unstable golangci-lint
  owl/home/default.nix
Due: nixfmt, deadnix, statix

feat(Beaver): justalternate.com aliases
  beaver/services/mail/default.nix
Due: nixfmt, deadnix, statix

feat(Swordfish): use master branch for lazer osu latest version
  flake.lock
  flake.nix
  swordfish/home/default.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(Shared): posting and opencode
  owl/home/default.nix
  shared/desktop/dev/default.nix
  shared/desktop/dev/qwen-code.nix
Due: nixfmt, deadnix, statix

fix: email certificate
  beaver/services/nginx/default.nix
Due: nixfmt, deadnix, statix

fix(All): better yubikey plug and unlock support
  shared/desktop/default.nix
  shared/desktop/waybar/default.nix
  shared/security.nix
Due: nixfmt, deadnix, statix

feat(All): working spark jdk11 for TP
  shared/desktop/dev/java/default.nix
Due: nixfmt, deadnix, statix

feat(Parrot): ollama
  parrot/configuration.nix
Due: nixfmt, deadnix, statix

chores: update justnixvim
  flake.lock
Due: none

feat(All): python packages
  shared/desktop/dev/default.nix
  shared/desktop/dev/python/default.nix
Due: nixfmt, deadnix, statix

feat(Beaver): dawarich wip
  beaver/services/dawarich/.gitignore
  beaver/services/dawarich/default.nix
  beaver/services/dawarich/docker-compose.yml
  beaver/services/mail/default.nix
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

wip dawarich
  beaver/services/dawarich/default.nix
Due: nixfmt, deadnix, statix

bump(Beaver): openwebui
  beaver/services/openwebui/docker-compose.nix
  beaver/services/openwebui/docker-compose.yml
Due: nixfmt, deadnix, statix

feat: wip wireguard server
  beaver/networking.nix
  beaver/services/default.nix
  beaver/services/wireguard/README.md
  beaver/services/wireguard/default.nix
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(All): update and cleanup
  flake.lock
  parrot/configuration.nix
  shared/desktop/dev/python/default.nix
  shared/desktop/waybar/default.nix
  shared/desktop/waybar/yubikey-status.sh
  shared/desktop/waybar/yubilock-toggle.sh
  shared/desktop/waybar/yubilock.sh
Due: nixfmt, deadnix, statix

feat(Swordfish): tex and osu in float 1920x1080
  swordfish/home/default.nix
Due: nixfmt, deadnix, statix

feat(All): python libs
  shared/desktop/dev/python/default.nix
Due: nixfmt, deadnix, statix

feat: Upgrade to 25.11
  README.md
  flake.lock
  flake.nix
  owl/configuration.nix
  parrot/configuration.nix
  parrot/home/default.nix
  shared/desktop/default.nix
  shared/desktop/dev/python/default.nix
  shared/desktop/hyprland/default.nix
  shared/desktop/hyprland/hyprland.conf
  shared/desktop/rofi/default.nix
  shared/git.nix
  shared/ssh.nix
  swordfish/configuration.nix
  swordfish/home/default.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat: working eduvpn config
  swordfish/configuration.nix
Due: nixfmt, deadnix, statix

feat(Parrot): eduvpn
  parrot/home/default.nix
Due: nixfmt, deadnix, statix

Path conditions:
  nixfmt: any of: \.nix$ and \.nix$
  deadnix: any of: \.nix$ and \.nix$
  nix-flake-check: any of: flake.nix and \.nix$
  statix: any of: \.nix$ and \.nix$
