Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

nixfmt:
  name: Format Nix files with nixfmt
  entry: nixfmt
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - nixfmt
  pass_filenames: false
  args:
  - . -c

deadnix:
  name: Scan Nix files for dead code with deadnix
  entry: deadnix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - deadnix
  pass_filenames: false
  args:
  - . -f

nix-flake-check:
  name: Nix Flake check
  entry: nix flake check
  language: system
  stages:
  - pre-commit
  pass_filenames: false
  args:
  - --all-systems --keep-going --impure

statix:
  name: Antipattern linting for Nix code with statix
  entry: statix
  language: system
  stages:
  - pre-commit
  additional_dependencies:
  - statix
  pass_filenames: false
  args:
  - check .

feat(all): opencode global context
  shared/AGENTS.md
  shared/shell/default.nix
Due: nixfmt, deadnix, statix

feat(desktop): ghostty quit without asking
  shared/desktop/ghostty.nix
Due: nixfmt, deadnix, statix

feat(desktop): autologin and invoke Hyprland auto
  parrot/configuration.nix
  shared/shell/zsh.nix
  swordfish/configuration.nix
Due: nixfmt, deadnix, statix

feat(beaver): dawarich oidc
  beaver/services/dawarich/default.nix
  secrets/secrets.yaml
  shared/sops.nix
Due: nixfmt, deadnix, statix

wip remove --impure
  beaver/services/mail/default.nix
  beaver/services/monitoring/default.nix
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(beaver): impure issue
  beaver/configuration.nix
  beaver/services/keycloak/default.nix
  beaver/services/openwebui/default.nix
  beaver/services/vaultwarden/default.nix
  flake.lock
  secrets/secrets.yaml
  shared/security.nix
  shared/sops.nix
Due: nixfmt, deadnix, statix

ci: implement hybrid CI pipeline with self-hosted beaver runner
  .github/workflows/main.yml
  beaver/configuration.nix
Due: nixfmt, deadnix, statix

fix(beaver): configure Cachix through flake instead of imperative
  CI_IMPLEMENTATION_PLAN.md
  beaver/configuration.nix
  secrets/secrets.yaml
Due: nixfmt, deadnix, statix

fix(ci): use nix run for tools not in PATH
  .github/workflows/main.yml
Due: none

style: format nix files and fix nixfmt in CI
  .github/workflows/main.yml
  gecko/default.nix
  shared/desktop/waybar/default.nix
  shared/security.nix
Due: nixfmt, deadnix, statix

fix(ci): exclude hardware configs from statix lint
  .github/workflows/main.yml
Due: none

fix(ci): make deadnix non-blocking
  .github/workflows/main.yml
Due: none

fix(ci): use correct sops command for validation
  .github/workflows/main.yml
Due: none

fix(ci): add Cachix signing key to workflow
  .github/workflows/main.yml
Due: none

fix(ci): manual Cachix setup to avoid permission issues
  .github/workflows/main.yml
Due: none

fix(ci): set HOME env var for self-hosted runner
  .github/workflows/main.yml
Due: none

fix: clean up unused lambda parameters and fix statix config
  .github/workflows/main.yml
  beaver/home/default.nix
  beaver/services/nginx/default.nix
  flake.nix
  parrot/configuration.nix
  shared/desktop/dev/default.nix
  shared/desktop/hyprland/default.nix
  shared/shell/zsh.nix
  swordfish/configuration.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix: statix flake.nix
  .github/workflows/main.yml
  beaver/services/nginx/default.nix
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(beaver): prepare for /var migration to volume
  beaver/configuration.nix
Due: nixfmt, deadnix, statix

feat(beaver): migrate /var to 40GB volume - COMPLETED
  .opencode/plans/var-migration-plan.md
  beaver/configuration.nix.pre-migration-backup
  beaver/services/nginx/default.nix
Due: nixfmt, deadnix, statix

style: fix statix warnings - consolidate repeated attribute keys
  owl/configuration.nix
  parrot/hardware-configuration.nix
  shared/security.nix
  statix.toml
Due: nixfmt, deadnix, statix

Path conditions:
  nixfmt: any of: \.nix$ and \.nix$
  deadnix: any of: \.nix$ and \.nix$
  nix-flake-check: any of: flake.nix and \.nix$
  statix: any of: \.nix$ and \.nix$
