Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files with nixfmt
        entry: nixfmt
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ nixfmt ]
        pass_filenames: false
        args: [ . -c ]

      - id: deadnix
        name: Scan Nix files for dead code with deadnix
        entry: deadnix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ deadnix ]
        pass_filenames: false
        args: [ . -f ]

      - id: nix-flake-check
        name: Nix Flake check
        entry: nix flake check
        language: system
        types: [ nix ]
        files: flake.nix
        stages: [ pre-commit ]
        pass_filenames: false
        args: [ --all-systems --keep-going --impure ]

      - id: statix
        name: Antipattern linting for Nix code with statix
        entry: statix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ statix ]
        pass_filenames: false
        args: [ check . ]

fix: deactivate latex
  shared/desktop/dev/latex/default.nix
Due: nixfmt, deadnix, statix

fix: rollbacking to 25.05 cause unstable is too unstable right now
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(Owl): update to 25.05
  flake.lock
  flake.nix
  shared/shell/zsh.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(Owl): add devenv pkgs
  Owl/home/default.nix
Due: nixfmt, deadnix, statix

chores(Owl): bump golang version
  Owl/home/default.nix
Due: nixfmt, deadnix, statix

fix(Owl): terminal multiplexer and some alias
  Owl/home/default.nix
  Owl/window-manager.nix
  flake.lock
  shared/shell/zsh.nix
Due: nixfmt, deadnix, statix

feat(Beaver): add 24454 port in UDP for minecraft server
  Beaver/networking.nix
Due: nixfmt, deadnix, statix

fix(All): add qwen-code nodejs and try to fix tgpt
  shared/desktop/dev/default.nix
  shared/desktop/dev/js/default.nix
  shared/desktop/dev/latex/default.nix
  shared/desktop/dev/qwen-code.nix
  shared/shell/zsh.nix
Due: nixfmt, deadnix, statix

fix(Beaver): mail server in 25.05
  Beaver/services/mail/default.nix
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

feat(Swordfish): prismlauncher rather than hmcl
  Swordfish/home/default.nix
Due: nixfmt, deadnix, statix

chores: update readme
  README.md
Due: none

feat(Dev): add minikube
  shared/desktop/dev/default.nix
Due: nixfmt, deadnix, statix

chores: Bump justnixvim flake version
  flake.lock
Due: none

feat(Zsh): llm
  shared/shell/zsh.nix
Due: nixfmt, deadnix, statix

feat(All): add unstable overlay
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix: delete unused alias
  shared/shell/zsh.nix
Due: nixfmt, deadnix, statix

feat(Owl): ghostty with brew, removing old terminal, update aerospace and use llm in shell
  Owl/home/default.nix
  Owl/window-manager.nix
  flake.lock
  shared/shell/zsh.nix
Due: nixfmt, deadnix, statix

fix: xelatex and bump justnixvim
  flake.lock
  shared/desktop/dev/default.nix
  shared/desktop/dev/latex/default.nix
Due: nixfmt, deadnix, statix

chores: moving out of this repository the iac files
  iac/infra/NixOS-install/main.tf
  iac/infra/NixOS-install/variables.tf
  iac/infra/main.tf
  iac/infra/variables.tf
  iac/nameserver/main.tf
Due: none
