Repository JustAlternate/nixcfg: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, deadnix, nix-flake-check, statix

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: nixfmt
        name: Format Nix files with nixfmt
        entry: nixfmt
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ nixfmt ]
        pass_filenames: false
        args: [ . -c ]

      - id: deadnix
        name: Scan Nix files for dead code with deadnix
        entry: deadnix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ deadnix ]
        pass_filenames: false
        args: [ . -f ]

      - id: nix-flake-check
        name: Nix Flake check
        entry: nix flake check
        language: system
        types: [ nix ]
        files: flake.nix
        stages: [ pre-commit ]
        pass_filenames: false
        args: [ --all-systems --keep-going --impure ]

      - id: statix
        name: Antipattern linting for Nix code with statix
        entry: statix
        language: system
        types: [ nix ]
        files: \.nix$
        stages: [ pre-commit ]
        additional_dependencies: [ statix ]
        pass_filenames: false
        args: [ check . ]

fix(Owl): CI
  Owl/configuration.nix
  Owl/home/default.nix
Due: nixfmt, deadnix, statix

feat(Owl): use unstable for aerospace and some tool for dev
  Owl/window-manager.nix
  shared/desktop/dev/python/default.nix
Due: nixfmt, deadnix, statix

fix(CI):
  Owl/configuration.nix
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix

Update README.md
  README.md
Due: none

chores(Beaver): remove nix-minecraft and update flake
  Beaver/services/default.nix
  Beaver/services/minecraft/bukkit.yml
  Beaver/services/minecraft/config/paper-global.yml
  Beaver/services/minecraft/config/paper-world-defaults.yml
  Beaver/services/minecraft/default.nix
  Beaver/services/minecraft/plugins/FallenKingdom/config.yml
  Beaver/services/minecraft/plugins/FallenKingdom/deep_pause.yml
  Beaver/services/minecraft/plugins/FallenKingdom/display.yml
  Beaver/services/minecraft/plugins/FallenKingdom/locales/en.properties
  Beaver/services/minecraft/plugins/FallenKingdom/locales/fr.properties
  Beaver/services/minecraft/plugins/FallenKingdom/pause_restorer.yml
  Beaver/services/minecraft/plugins/FallenKingdom/portals.yml
  Beaver/services/minecraft/plugins/FallenKingdom/save.yml
  Beaver/services/minecraft/spigot.yml
  flake.lock
Due: nixfmt, deadnix, statix

fix(Beaver): add justalternate.fr to be managed by letsencrypt for email
  Beaver/services/nginx/default.nix
Due: nixfmt, deadnix, statix

WIP: repairing hyprcursor
  shared/desktop/hyprland/default.nix
Due: nixfmt, deadnix, statix

chores(All): update to unstable and maintain flake
  Owl/home/default.nix
  Parrot/configuration.nix
  flake.lock
  flake.nix
  shared/desktop/dev/default.nix
  shared/desktop/hyprland/default.nix
  shared/zsh.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(Beaver): update to unstable and fix stuff
  Beaver/configuration.nix
  Beaver/services/mail/default.nix
  flake.nix
  shared/zsh.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(All): maintenance
  Beaver/home/default.nix
  Owl/home/default.nix
  Owl/window-manager.nix
  Parrot/configuration.nix
  Parrot/home/default.nix
  Swordfish/configuration.nix
  Swordfish/home/default.nix
  flake.lock
  flake.nix
  shared/desktop/bin/startup.nix
  shared/desktop/dev/default.nix
  shared/desktop/rice.nix
  shared/zsh.nix
Due: nixfmt, deadnix, nix-flake-check, statix

fix(All): waybar
  Parrot/home/default.nix
  README.md
  assets/20250508-11:52:59.png
  shared/desktop/bin/change_wallpaper.nix
  shared/desktop/bin/current_output_device.sh
  shared/desktop/bin/select_wallpaper.nix
  shared/desktop/bin/startup.nix
  shared/desktop/bin/switch_audio_output.sh
  shared/desktop/hyprland/default.nix
  shared/desktop/rice.nix
  shared/desktop/waybar/default.nix
Due: nixfmt, deadnix, statix

WIP(Beaver): working on geolocation sharing service deployment
  Beaver/services/dawarich/default.nix
  Beaver/services/dawarich/docker-compose.nix
  Beaver/services/dawarich/docker-compose.yml
  Beaver/services/default.nix
  flake.lock
  iac/nameserver/main.tf
Due: nixfmt, deadnix, statix

fix(Desktop): waybar style.css symlink
  shared/desktop/waybar/default.nix
  shared/desktop/waybar/style.css
Due: nixfmt, deadnix, statix

feat(Dev): claude-code
  shared/desktop/dev/default.nix
Due: nixfmt, deadnix, statix

feat(Beaver): working dawarich
  Beaver/services/dawarich/default.nix
  Beaver/services/dawarich/docker-compose.nix
  Beaver/services/dawarich/docker-compose.yml
Due: nixfmt, deadnix, statix

fix(CI)
  shared/desktop/waybar/default.nix
Due: nixfmt, deadnix, statix

bump(Beaver): openwebui and nixos mail server
  Beaver/services/mail/default.nix
  Beaver/services/openwebui/docker-compose.nix
Due: nixfmt, deadnix, statix

feat(Owl): database tool for pg and mysql
  Owl/home/default.nix
  shared/desktop/dev/database/.myclirc
  shared/desktop/dev/database/config
  shared/desktop/dev/database/default.nix
  shared/desktop/dev/default.nix
Due: nixfmt, deadnix, statix

fix(Owl): nix darwin use unstable now
  Owl/configuration.nix
  Owl/home/default.nix
  flake.lock
  flake.nix
Due: nixfmt, deadnix, nix-flake-check, statix
